<div>
 <p class="centrado_img"><img src="/images/beer.png" width="400" height="400" ></p>
</div>
       
 <div class="centradobtn">     
    <div class="espacio">
        <a href="/Beer" class="btn btn-primary">Check the Beers!</a>
    </div>

    <div>
        <a href="/RandomBeer"class="btn btn-primary">Check a Random Beer</a>
    </div>
 </div>    